<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="StudentName" value="Rollno"></parameter>
  <test thread-count="5" name="Test">
   <classes> 
      <class name="TestAnnotations"></class>
    </classes>  
    </test><!-- Test --> 
</suite> <!-- Suite -->
